doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Particle
    link(rel="stylesheet" href="../style.css")
  body.react
    script(src="react.js")
    //- script(src="JSXTransformer.js")
    //- script(type="text/jsx" src="main.jsx")
    script(src="main.js")
