doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Canvas | Particle
    link(rel="stylesheet" href="../style.css")
  body.canvas
    canvas#canvas
    script(src="../config.js")
    script(src="main.js")
