doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title React | Particle
    link(rel="stylesheet" href="../style.css")
  body.react
    svg#svg
    script(src="react.js")
    script(src="../config.js")
    script(src="main.js")
